// Body
$body-bg: rgb(245 243 255 / 1);

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: rgba(89, 60, 143, 1);
$secondary: rgba(19, 111, 99, 1);
$tertiary: rgba(227, 101, 91, 1);
$dark: rgba(8, 7, 8, 1);
$light: rgba(230, 232, 230, 1);
$black: #000;
$white: #fff;
$success: rgb(34 197 94);
$warning: rgb(245 158 11);
$danger: rgb(239 68 68);
$background-color: rgb(249 246 255);
$box-shadow: 0px 0px 2px 0px $light;

// Buttons/Pills
$border-radius: 1rem;