// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Components
@import 'components/navbar';
@import 'components/buttons';
@import 'components/pills';
@import 'components/card';
@import 'components/employee';
@import 'components/modal';


// Base
html, body{
    height: 100%;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    color: $dark;
    background-color: $background-color;
}

#app{
    height: 100%;
}

.box-shadow{
    box-shadow: $box-shadow;
}