.btn{
    background-color: $primary;
    color: $white;
    width: auto;
    height: auto;
    min-width: 5rem;
    min-height: 5rem;

    .svg{
        width: 1.25rem;
        height: 1.25rem;
    }

    i{
        color: $white;
    }
}