.card{
    width: 8rem;
    height: 10rem;
    background-color: $white;
    color: $black;
    padding: 1rem;
    margin: .75rem;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    cursor: pointer;

    &-header{
        margin: 0 auto;
        text-align: center;
    }

    &-body{
        margin: 0 auto;
        width: 80%;
        text-align: center;
        
        img{
            margin: .5rem auto;
            width: 80%;
            border-radius: 100%;
            border: 1px solid $primary;
        }
    }

    &-full{
        width: 90%;
        height: 80%;
        background-color: $white;
        color: $black;
        padding: 1rem;
        margin: .75rem auto;
        border-radius: $border-radius;
        box-shadow: $box-shadow;

        p{
            font-size: 1.25rem;
        }

        img{
            margin: .5rem 0;
        }
    }
}