.modal{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    vertical-align: middle;
    justify-content: center;
    background-color: rgba(0,0,0,0.8);
    top: 0;
    left: 0;


    &-body{
        width: 20rem;
        height: 20rem;
        background-color: $white;
        border-radius: $border-radius;
        padding: 1rem;
        position: relative;
        display: grid;
        align-content: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
        margin: 15rem auto;

        &>.btn-close{
            position: absolute;
            top: 1rem;
            right: 1.5rem;
        }

        &>.securecode{
            border: 2px solid $primary;
            border-radius: .25rem;
            text-align: end;
            height: 3rem;
            letter-spacing: 1.75rem;
        }

        &>.reason, &>.date{
            border: 2px solid $primary;
            border-radius: .25rem;
            min-width: 10rem;
            margin: .5rem auto;
            text-align: center;
        }

        &>.error-code{
            color: $danger;
            margin: 1rem auto 0;
        }
    }
}