#navbar{
    background-color: $primary;
    color: $white;

    i{
        width: 16px;
        height: 16px;
    }

    a{
        text-align: center;
    }

    .active{
        background-color: $white;
        color: $primary;
        border-radius: $border-radius;
        width: 10rem;

        i{
            color: $primary;
        }
    }
}