.pill{
    background-color: $primary;
    color: $tertiary;
    padding: .5rem;
    border-radius: $border-radius;
}

.action-pills{
    background-color: $white;
    margin: 1rem auto;
    width: 100%;
    border-radius: $border-radius;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);

    @media (max-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 900px) {
        grid-template-columns: repeat(2, 1fr);
    }
}