<template>
    <div class="modal">
        <div class="modal-body">
            <button class="btn-close" @click="close">
                X
            </button>
            <span>Selecciona un motivo y la fecha:</span>
            <select name="reason" id="reason" class="reason">
                <option value=""></option>
                <option value="medical sick leave">Baja Medica</option>
                <option value="disease">Enfermedad</option>
                <option value="permission">Permiso</option>
            </select>
            <input type="date" name="date" id="date" class="date">
            <button class="btn p-1 rounded-xl" @click="submit()">Enviar</button>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
    export default {
        props: ['id'],
        methods: {
            close() {
                this.$emit('close');
            },
            action(reason, date){
                axios
                    .post('/insertAbsent/'+this.id+'/'+reason+'/'+date)
                    .then(
                        window.location.href = '/'
                    )
            },
            submit(){
                const reason = document.getElementById('reason').value;
                const date = document.getElementById('date').value;

                return this.action(reason, date);
            }
        },
    }
</script>