<template>
    <div class="mx-auto">
        <button class="btn p-2 m-4 rounded-lg block items-center justify-center mx-auto" @click="showModal">
            <i class="fa-solid fa-file-medical"></i>
            Ausente
        </button>

        <AbsentModalComponent
            :id="this.id"
            v-show="isAbsentModalActive"
            @close="closeModal"/>
    </div>

</template>

<script>
    import AbsentModalComponent from './AbsentModalComponent.vue';

    export default {
        props: ['id'],
        components:{
            AbsentModalComponent
        },
        data() {
            return {
                isAbsentModalActive: false,
            };
        },
        methods: {
            showModal() {
                this.isAbsentModalActive = true;
            },
            closeModal() {
                this.isAbsentModalActive = false;
            }
        },
    }
</script>
