<template>
    <div class="w-full py-4">
        <div class="w-full text-center uppercase font-bold">
                {{ enterprise.name }}
        </div>
        <div class="w-full">
            <div class="left-4 top-2 absolute pill">
                {{ timestamp.date }}
            </div>
            <div class="right-4 top-2 absolute pill">
                {{ timestamp.time }}
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                enterprise: {
                    name: 'Rica Design'
                },
                timestamp: this.getNow()
            }
        },
        methods: {
            getNow() {
                const today = new Date();
                const month = today.getMonth()+1;
                const date = ((today.getDate().toString().length > 1) ? today.getDate() : '0'+today.getDate().toString()) +'-'+((month.toString().length > 1) ? month : '0'+month.toString())+'-'+today.getFullYear();
                const time = ((today.getHours().toString().length > 1) ? today.getHours() : '0'+today.getHours().toString()) + ":" + ((today.getMinutes().toString().length > 1) ? today.getMinutes() : '0'+today.getMinutes().toString()) + ":" + ((today.getSeconds().toString().length > 1) ? today.getSeconds() : '0'+today.getSeconds().toString()) ;
                const dateTime = {'date':date, 'time':time};
                return dateTime;
            }
        },
        mounted(){
            setInterval(() => {
                this.timestamp = this.getNow()
            }, 1000)
        }
    }
</script>
