<template>
    <div class="mx-auto">
        <div class="card" @click="openDetail">
            <div class="card-header">
                <div class="status" v-html="printStatus()"></div>
            </div>
            <div class="card-body">
                <div class="employee-img">
                    <img :src="printImage()" v-bind:alt="image">
                </div>
                <div class="employee-info">
                    {{ name }}
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['status', 'image', 'name', 'id'],
        data(){
            return {
            
            }
        },
        methods: {
            printImage(){
                return ('/img/'+this.image);
            },
            printStatus(){
                switch (this.status) {
                    case 'inside':
                        return '<div class="bg-green-400 mx-auto rounded-full w-4 h-4">';
                    case 'outside':
                        return '<div class="bg-red-400 mx-auto rounded-full w-4 h-4">';
                    case 'absent':
                        return '<div class="bg-orange-400 mx-auto rounded-full w-4 h-4">';
                    case 'vacations':
                        return '<div class="bg-purple-400 mx-auto rounded-full w-4 h-4">';
                }
            },
            openDetail(){
                return window.location.href = '/worker-detail/'+ this.id;
            }
        },
    }
</script>