<template>
    <div class="mx-auto">
        <div class="card-full">
            <div class="card-header">
                <div class="status" v-html="printStatus()"></div>
                <!-- <div class="flex action-pills">
                    <absent-component
                        :id="this.id"/>
                    <vacations-component
                        :id="this.id"/>
                    <records-component
                        :id="this.id"/>
                </div> -->
            </div>
            <div class="card-body flex">
                <div class="employee-img w-1/2">
                    <img :src="printImage()" v-bind:alt="this.employee.image">
                </div>
                <div class="employee-info text-left">
                    <b>Nombre:</b> {{ this.employee.name }} <br/>
                    <b>Apellidos:</b> {{ this.employee.surname }} <br/>
                    <b>DNI:</b> {{ this.employee.dni }} <br/>
                    <b>Correo:</b> {{ this.employee.mail }} <br/>
                    <b>Teléfono:</b> {{ this.employee.phone }} <br/>
                    <b>Puesto:</b> {{ this.employee.ocupation }} <br/>
                    <b>Activo:</b> {{ (this.employee.active) ? 'Activado' : 'Desactivado' }} <br/>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['id'],
        data(){
            return {
                employee: this.getEmployee()
            }
        },
        methods: {
            printImage(){
                return ('/img/'+this.employee.image);
            },
            printStatus(){
                switch (this.employee.status) {
                    case 'inside':
                        return '<div class="bg-green-400 mx-auto rounded-full w-4 h-4">';
                    case 'outside':
                        return '<div class="bg-red-400 mx-auto rounded-full w-4 h-4">';
                    case 'absent':
                        return '<div class="bg-orange-400 mx-auto rounded-full w-4 h-4">';
                    case 'vacations':
                        return '<div class="bg-purple-400 mx-auto rounded-full w-4 h-4">';
                }
            },
            async getEmployee(){
                const axios = require('axios').default;

                try{
                    await axios
                    .post('/employee-info/'+this.id)
                    .then(
                        response => (
                            this.employee = response.data
                        )
                    );
                }catch (e){
                    console.log("Error:",e);
                }
            }
        },
    }
</script>