<template>
    <div class="mx-auto">
        <button class="btn p-2 m-4 rounded-lg block items-center justify-center mx-auto" @click="showSecureCode">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            Salir
        </button>

        <SecureCodeComponent
            :id="this.id"
            :act="'exit'" 
            v-show="isSecureCodeActive"
            @close="closeSecureCode"/>
    </div>
</template>

<script>
    import SecureCodeComponent from './SecureCodeComponent.vue';

    export default {
        components:{
            SecureCodeComponent
        },
        props: ['id'],
        data() {
            return {
                isSecureCodeActive: false,
            };
        },
        methods: {
            showSecureCode() {
                this.isSecureCodeActive = true;
            },
            closeSecureCode() {
                this.isSecureCodeActive = false;
            }
        },
    }
</script>