<template>
    <div class="flex content-center items-center py-2" :class="isActive()">
        <div>
            <i :class="mountIcon()"></i>
        </div>
        <div>
            <a :href="mountUrl()"> {{ name }}</a>
        </div>
    </div>

</template>

<script>
    export default {
        props: ['name', 'url', 'icon'],
        data() {
            return {

            };
        },
        methods: {
            mountUrl(){
                return (this.url);
            },
            mountIcon(){
                return (this.icon + ' text-white mx-2');
            },
            isActive(){
                const path = window.location.pathname;
                return (path === this.url) ? 'active' : null;
            }
        },
    }
</script>
