<template>
    <div class="mx-auto">
        <button class="btn p-2 m-4 rounded-lg block items-center justify-center mx-auto" @click="showModal">
            <i class="fa-solid fa-user-clock"></i>
            Registros
        </button>

        <RecordsModalComponent
            :id="this.id"
            v-show="isRecordsModalActive"
            @close="closeModal"/>
    </div>

</template>

<script>
    import RecordsModalComponent from './RecordsModalComponent.vue';

    export default {
        props: ['id'],
        components:{
            RecordsModalComponent
        },
        data() {
            return {
                isRecordsModalActive: false,
            };
        },
        methods: {
            showModal() {
                this.isRecordsModalActive = true;
            },
            closeModal() {
                this.isRecordsModalActive = false;
            }
        },
    }
</script>
