<template>
    <div class="modal">
        <div class="modal-body">
            <button class="btn-close" @click="close">
                X
            </button>
            <span>Selecciona una fecha:</span>
            <input type="date" name="date" id="date" class="date">
            <button class="btn p-1 rounded-xl" @click="exportData()">Exportar</button>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
    export default {
        props: ['id'],
        methods: {
            close() {
                this.$emit('close');
            },
            action(reason, date){
                axios
                    .post('/insertAbsent/'+this.id+'/'+reason+'/'+date)
                    .then(
                        window.location.href = '/'
                    )
            },
            exportData(){
                console.log('Export');
            }
        },
    }
</script>