<template>
    <div class="modal">
        <div class="modal-body">
            <button class="btn-close" @click="close">
                X
            </button>
            <span>Introduce el código de seguridad:</span>
            <input 
                type="text" 
                class="securecode" 
                name="securecode" 
                @keyup="checkCode" 
                autocomplete="off" 
                maxlength="4"
                required>
            <div class="error-code"></div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
    export default {
        props: ['id', 'act'],
        data(){
            return{
                trys: 0,
                errorCodeText: 'Código Invalido'
            }
        },
        methods: {
            close() {
                this.$emit('close');
            },
            checkCode(){
                let secureCode = document.getElementsByClassName('securecode');
                secureCode = (this.act === 'enter') ? secureCode[0].value : secureCode[1].value;

                if(secureCode.length === 4){
                    axios
                        .post('/securecode/' + this.id)
                        .then(
                            response => (
                                (response.data[0].code === secureCode) ? this.action() : this.errorCode()
                            )
                        );
                }
            },
            action(){
                if(this.act === 'enter'){
                    axios.post('/securecode/insertRecord/'+this.id+'/inside');
                    axios
                        .post('/updateStatus/'+this.id+'/inside')
                        .then(
                            window.location.href = '/'
                        )
                }else{
                    axios.post('/securecode/insertRecord/'+this.id+'/outside');
                    axios
                        .post('/updateStatus/'+this.id+'/outside')
                        .then(
                            window.location.href = '/'
                        )
                }
            },
            errorCode(){
                this.trys++;
                (this.trys === 3) ? window.location.href = '/' : null;

                let div = document.getElementsByClassName('error-code');
                div = (this.act === 'enter') ? div[0] : div[1];
                div.textContent = this.errorCodeText;
            }
        },
    }
</script>