<template>
    <div class="mx-auto">
        <button class="btn w-24 h-20 p-2 m-4 rounded-lg block items-center justify-center mx-auto" @click="showModal">
            <i class="fa-solid fa-plane-departure"></i>
            Vacaciones
        </button>

        <VacationsModalComponent
            :id="this.id"
            v-show="isVacationsModalActive"
            @close="closeModal"/>
    </div>

</template>

<script>
    import VacationsModalComponent from './VacationsModalComponent.vue';

    export default {
        props: ['id'],
        components:{
            VacationsModalComponent
        },
        data() {
            return {
                isVacationsModalActive: false,
            };
        },
        methods: {
            showModal() {
                this.isVacationsModalActive = true;
            },
            closeModal() {
                this.isVacationsModalActive = false;
            }
        },
    }
</script>
